{% extends 'base.html' %}
{% block content %}
<div class="chat-container">
  <h2>Chat Room: {{ code }}</h2>

  <!-- Liste des utilisateurs connectés -->
  <div class="user-list">
    <h4>Utilisateurs Connectés</h4>
    <ul id="users">
      {% for user in users %}
      <li>{{ user }}</li>
      {% endfor %}
    </ul>
  </div>

  <!-- Messages -->
  <div class="message-box">
    <h4>Messages</h4>
    <div class="messages" id="messages"></div>
  </div>

  <!-- Envoi de Message -->
  <div class="inputs">
    <input
      type="text"
      placeholder="Écrire un message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Envoyer
    </button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };
</script>
{% endblock %}
