<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>VaultRoom</title>
    <link
      rel="stylesheet"
      href="../static/css/styles.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    <nav class="nav">
      <div style="display: flex; justify-content: space-between; align-items: center; color: white;">
        <a href="/home" style="color: white; text-decoration: none; font-size: 1rem;">
          <div class="chat-header">
            <button class="back-button" style="margin-left: 30px; border-radius: 10px;">
              <span id="button_text">Home</span>
          </button>
          </div>
        </a>
        <h2 style="margin: 0; text-align: left; color: black;">VAULTROOM2.0</h2>
        <a href="/logout" style="color: white; text-decoration: none; font-size: 1rem;">
          <div class="chat-header">
            <button class="back-button1">Se Déconnecter</button>
          </div>
        </a>
      </div>
    </nav>
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>



