{% extends 'base.html' %}
{% block content %}
<div class="home-container">
  <h1>Bienvenue sur VaultRoom</h1>
  <p>Votre espace sécurisé pour des discussions privées, protégé par des technologies de cryptage modernes.</p>

  <div class="features">
    <h2>Fonctionnalités</h2>
    <ul>
      <li>📢 Communication en temps réel</li>
      <li>🔒 Données 100% sécurisées grâce au chiffrement TLS</li>
      <li>💬 Interface simplifiée pour des discussions privées ou en groupe</li>
    </ul>
  </div>

  <div class="actions">
    <a href="/login-page" class="btn btn-primary">Se connecter</a>
    <a href="/register-page" class="btn btn-secondary">Créer un compte</a>
    <a href="/newone" class="btn btn-secondary">Get Started</a>
  </div>
</div>

<style>
  
</style>
{% endblock %}
